{% extends "layout.html" %}
{% block title %}Live Records - Alkomat®{% endblock %}
{% block content %}
    <div>
        <p class="fs-1 fw-bold text-center">Live Records</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date and time</th>
                    <th scope="col">Name and surname</th>
                    <th scope="col">Read from Alkomat®</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="liveRecordsTableBody"></tbody>
        </table>
    </div>
    <div>
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>

<script src= "{{ url_for('static', filename='live_records.js') }}"> </script>

{% endblock %}
