{% extends "layout.html" %}
{% block title %}
Login - Alkomat®
{% endblock %}
{% block content %}
<div>
    <p class="fs-1 fw-bold text-center">Login</p>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
    </form>
    <hr>
    <a href="/register" class="btn btn-secondary mt-3 d-block mx-auto">Register New Boss</a>
</div>
{% endblock %}