{% extends "layout.html" %}
{% block title %}Live Records - Alkomat{% endblock %}
{% block content %}
    <div>
        <p class="fs-1 fw-bold text-center">Records for {{ user_id }}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data i godzina</th>
                    <th scope="col">Imię i nazwisko</th>
                    <th scope="col">Odczyt z alkomierza</th>
                    <th scope="col">Podjęta akcja</th>
                </tr>
            </thead>
            <tbody id="UserRecordsTableBody"></tbody>
        </table>
    </div>
    <div>
        <!-- Button to redirect to the home page -->
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>

<script src="{{ url_for('static', filename='records_for_single_user.js') }}"></script>
<script>
    set_record_updater("{{ user_id }}")
</script>

{% endblock %}
