{% extends "layout.html" %}
{% block title %}
Register - Alkomat®
{% endblock %}
{% block content %}
<div>
        <p class="fs-1 fw-bold text-center">Register</p>
        <form action="/register" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Enter your username") }}
                {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Enter your password") }}
                {% for error in form.password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
                {% for error in form.confirm_password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary  mx-auto d-block">Register</button>
        </form>
        <hr class="mr-2">
        <a href="/login" class="btn btn-secondary mt-3 d-block mx-auto">Already have an account? Login</a>
</div>

{% endblock %}
