{% extends "layout.html" %}
{% block title %}Registered Workers{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-2">
        <h2>Registered Workers</h2>
        <table class="table table-striped">
            <thead>
            {% for worker in workers %}
                <tr>
                    <th scope="row">{{worker.id}}</th>
                    <td>{{worker.name}}</td>
                    <td>{{worker.surname}}</td>
                    <td>
                        <a href="/delete_employee/{{worker.id}}" class="btn btn-danger">Delete</a>
                        {# add blocking/unblocking employee depending on his "blocked" field#}
                        {% if worker.blocked == 0 %}
                            <a href="/block_employee/{{worker.id}}" class="btn btn-warning">Block</a>
                        {% else %}
                            <a href="/unblock_employee/{{worker.id}}" class="btn btn-success">Unblock</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor%}
            </thead>
            <tbody id="workersTableBody"></tbody>
        </table>
    </div>
    <div class="col-8">
        <!-- Form for adding a new worker -->
        <form action="/add_employee" method="post">
            <h2>Add New Employee</h2>
            <div class="mb-3">
                <label for="newEmployeeName" class="form-label">Name</label>
                <input type="text" class="form-control" id="newEmployeeName" name="name" required>
            </div>
            <div class="mb-3">
                <label for="newEmployeeSurname" class="form-label">Surname</label>
                <input type="text" class="form-control" id="newEmployeeSurname" name="surname" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </form>
        
    </div>
    <div class="col-2">
        <!-- Button to redirect to the home page -->
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</div>

{% endblock %}
